<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>About</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main_content">
            {{>header }}
            <p>This site was created by Goodwill Feni. It uses data from mapbox.com and darksky.net.</p>
            <img class="portrait" src="./img/goodwill.jpg">
        </div>
        {{>footer }}
    </body>
</html>