<!DOCTYPE html>
<html>
    <head>
        <link rel="icon" href="/img/weather.png">
        <title>Help</title>
        <link type="text/css" rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main_content">
            {{> header }}
            <p>{{ msg }}</p>
        </div>
         {{>footer }}
    </body>
</html>