<!DOCTYPE html>
<html>
    <head>
        <title>Wether</title>
        <link rel="icon" href="/img/weather.png">
        <link type="text/css" rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main_content">
          {{>header }}

          <p>User this site to get your weather.</p>

          <form>
              <input type="text" placeholder="Type in you location.">
              <button>Search</button>
          </form>

          <p class="forecast" id="messageOne"></p>
          <p class="error" id="messageTwo"></p>
        </div>
        {{>footer }}
    </body>
    <script type="text/javascript" src="./js/app.js"></script>
</html>